[submodule "external/Eigen"]
	path = external/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
	branch = stable
[submodule "external/CppNumericalSolvers"]
	path = external/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
[submodule "external/geos"]
	path = external/geos
	url = https://github.com/OSGeo/geos.git
	branch = stable
[submodule "external/libcmaes"]
	path = external/libcmaes
	url = https://github.com/beniz/libcmaes.git
	branch = stable
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
