[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/libcmaes"]
	path = external/libcmaes
	url = https://github.com/beniz/libcmaes.git
[submodule "external/CppNumericalSolvers"]
	path = external/CppNumericalSolvers
	url = https://github.com/PatWie/CppNumericalSolvers.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://github.com/agehama/eigen-git-mirror.git
[submodule "external/geos"]
	path = external/geos
	url = https://github.com/agehama/geos.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/cereal"]
	path = external/cereal
	url = git@github.com:agehama/cereal.git
